body{
    text-align: center;
}

#mainRegion{
    display: inline-block;
    text-align: left;
}

#navigation{
    text-align: right;
}

#nextImage{
    cursor: pointer;
}

.imageView{
    position: relative;
    display: inline-block;
}

#overview{
    width: 100%;
    max-width: 900px;
}

#overview .image{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
}

.lockOverview{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.56);
}

.imageView.locked .lockOverview {
    display: block;
}

#overview > .inner {
    text-align: center;
}

[waslockedbeforerequested="true"] .lockOverview {
    display: block;
}

#image{
    position: relative;
    text-align: center;
}

#image svg{
    cursor: pointer;
}

#loadingNotification{
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
}

#loadingNotification.show{
    display: block;
}

#settings, #navigation{
    padding-top: 10px;
    padding-bottom: 10px;
}

button, select{
    border: none;
    background-color: #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover, select:hover{
    background-color: #ccc;
}