body{
    text-align: center;
}

#mainRegion{
    display: inline-block;
    text-align: left;
}

#navigation{
    text-align: right;
}

#nextImage{
    cursor: pointer;
}

.imageView{
    position: relative;
}

.lockOverview{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.56);
}

.imageView.locked .lockOverview{
    display: block;
}